[2018-01-05 20:34] mredaelli opened #1 "Not working on Debian"
After installing kitty and nixGL, I try runnig `nixGL kitty` on Debian buster, and I get

[code]

I'm veeeery new to nix, so forgive if there is something obvious :)

[2018-01-08 15:38] guibou commented on #1
Thank you for repporting this issue.

Apparently "kitty" uses a wrapper script (i.e. `.nix-profile/bin/kitty` is a symlink to a bash script), and this is unfortunately incompatible with "nixGL". Unfortunately, wrapping the real kitty executable is also broken due to dynamic loading at runtime.

I'm afraid that "nixGL" will not work as is for "kitty" and I don't have any immediate idea to improve t

[2018-01-08 15:40] mredaelli commented on #1
Thanks!
Well, maybe it's a good excuse to try NixOS for real :P

[2018-01-08 15:53] guibou commented on #1
Well,

Actually there are other solutions which may work for you:

- nix-vendor-gl (https://github.com/deepfire/nix-install-vendor-gl) of you
use an Nvidia driver
- A simple symlink if you use an intel (mesa) driver:

[code]

The symlink works really well if you can install the same version of
"mesa-noglu" as the one used by your host system.

Le lun. 8 janv. 2018 à 16:41, Massimo Redaelli <notifi

[2018-01-08 15:56] mredaelli commented on #1
Good to know!
For the moment I solved by compiling the program it myself, so no biggie, but will keep in mind. Thanks for your help!

[2018-01-08 15:56] #1 closed

[2018-02-17 22:06] guibou commented on #1
You may be interested to know that I changed the way `nixGL` works and it now works smoothlessly with `kitty`. I lifted most of the limitation of the previous approach, this should now work reliably with most of the OpenGL applications.

[2018-02-17 23:20] mredaelli commented on #1
Glad to hear! Although now I'm in NixOS itself (and hope to keep using it :P )

[2018-02-26 14:37] nono opened #3 "Missing 10_nvidia.json"
Hello,

I've learned about nixGL on LinuxFr.org and I wanted to try it to play with [Kitty](https://github.com/kovidgoyal/kitty). But it didn't work as expected:

[code]

Does this error rings a bell to you?

[2018-02-26 15:11] guibou commented on #3
Could you try the branch `noglvnd`?

[2018-02-26 15:14] nono commented on #3
It looks like it fixes the install of nvidia things. I still can't run Kitty, but it looks more like my card is not supported, not like something that nixGL can fix for me:

[code]

Thanks for the quick fix!

[2018-02-26 15:14] #3 closed

[2018-02-26 15:19] guibou commented on #3
If you could check with another OpenGL program, I'll be more than happy ;) (And hi to the linuxfr community). Thank you for the bug report.

[2018-02-26 15:38] nono commented on #3
I've tried with [alacritty](https://github.com/jwilm/alacritty), it works:

[code]

[2018-03-15 17:22] cx405 opened #5 "nixGL with AMD hardware: my hardware info"
My environment (updated):
[code]

My hardware:
[code]

glxinfo (without extensions):
[code]

dmesg|grep -i radeon:
[code]

[The link to card.](https://www.asus.com/us/Graphics-Cards/R9280DC2T3GD5/)

[2018-03-16 16:42] cx405 commented on #5
Erm, @guibou ? :)

[2018-03-18 23:21] guibou commented on #5
Thank you for the repport (Sorry for the delay, you know, life, bla bla bla ;)

I'll have a look tomorrow. I don't have this hardware, so I'll do a branch with guess work and ask for your tests. Thank you.

[2018-03-19 10:13] cx405 commented on #5
@guibou Hello, thank you very very much for giving the status update. Ofc, life.so is max priority, no questions. :)

Small status update: I have upgraded to 18.03 properly (through bricking, having nice guidance and then reinstalling), so I will update the issue above with newer cfg and then hibernate to life.so until I could be of assistance to you. :) :)
Until then!

[2018-03-19 10:37] guibou commented on #5
I wonder something stupid. It seems that you are using the mesa driver? Did you tried `nixGLIntel` which uses the mesa driver and may in fact works for your ati?

[2018-03-19 10:49] guibou commented on #5
If I'm wrong and you are using the proprietary driver, have a look at PR #6.

[2018-03-19 11:17] cx405 commented on #5
Well, this is correct, if you mean the "radeon"(d1) driver, which uses mesa opengl library.
There is also "amdgpu"(d2) driver which also uses opengl library, and new "amdgpu-pro"(d3) driver that uses amd's own proprietary opengl library. The (d3) uses the same kernel driver as fully open (d2). If you don't count firmware, which all (d1,d2,d3) use.

I am willing to test any driver which can run on

[2018-03-19 14:10] abbradar commented on #5
@cx405 Do I get it correctly that you use NixOS (not e.g. Nix on Ubuntu)? Because if you do `nixGL` shouldn't be applicable for you -- you should set your drivers in `services.xserver.videoDrivers` and it should Just Work. Given, last time I heard situation with closed-source AMD drivers on NixOS is dire (maybe situation has improved since) -- having somebody to at least test and report stuff woul

[2018-03-19 16:00] cx405 commented on #5
@abbradar  Yes, this is correct. I have these drivers set. More precisely, I have this:

[code]

...and I have the problems above :)

[2018-03-19 19:19] abbradar commented on #5
@cx405 Hm, it seems that this problem is not because your video drivers cannot be found but because something is broken in video drivers.

1. Have you tried using `amdgpu` (replace `radeon` with `amdgpu` in `videoDrivers)? If not, try this and post your new `glxinfo` results and check the games.
2. Do `glxgears` work?

Also we should probably move away from this issue into a separate one in nixpkg

[2018-03-19 19:41] cx405 commented on #5
@abbradar 1. thanks for suggesting, I will try this today and report in 24hours.  2. yes, glxgears works. The openarena issue I posted, is the issue in my case. I though that this is the project to solve it.

Well, I have ubuntu, debian, arch and gentoo experience. I am pretty sure that I can find time to throw latest of ubuntu on spare hard drive, install nix and help you out with the tests.

[2018-03-24 15:57] cx405 commented on #5
@abbradar  Sorry for the delay, it was something different! I have asked numerous people on #nixos IRC, nobody had a clue and researched web with no results. The solution is weird, one needs "ati" into
[code]
this "ati" is not an old driver, but xorg DDE driver (xf86-video-ati). Also weird that Xorg could boot without it and used "radeon" driver normally after failing to find it.
-- -- -- --
Well,

[2018-03-26 08:57] abbradar commented on #5
@cx405 Ouch, turns out there is no `"radeon"` `videoDrivers` entry at all! We have an old bug which is difficult to fix that allows one to specify a non-existent driver which is then silently ignored.

[2018-03-26 11:42] cx405 commented on #5
@abbradar  Fair enough. However people would add less entries to that section, if it would be documented in the Nix wiki (or anywhere). Also wiki is not listed in https://nixos.org/nixos/support.html. At least a reference would be nice. :/

[2018-03-26 11:45] abbradar commented on #5
@cx405 Good call, can you open an issue for those?

[2018-03-26 11:53] cx405 commented on #5
@abbradar  Sure, I am on it :)

[2018-04-12 04:15] xCuri0 commented on #5
NixGL Intel works perfectly for me with AMD

[2018-04-15 12:29] guibou commented on #5
@xCuri0 Thank you, I suppose you use the open source AMD driver which comes with MESA. I updated a bit the README to explain that `nixGLIntel` works for most mesa drivers.

[2018-04-15 12:31] guibou commented on #5
I'm closing this bug as it appears that the problem you have is more related to the support of AMD by NixOS rather of the support of AMD by nixGL outside ouf NixOS.

Please, if you try your card outside of NixOS, have a look at pull request #6 to test the AMD support.

[2018-04-15 12:31] #5 closed

[2018-04-15 15:34] xCuri0 commented on #5
@guibou Yes I am using the Mess drivers since my GPU doesn't support AMDGPU-PRO and fglrx is no longer supported (it was filled with bugs anyways).

Someone needs to test with AMDGPU-PRO too

[2018-05-17 21:01] Infinisil opened #9 "Doesn't work on Nix 2.0"
The `sha256 = null` trick doesn't work anymore in Nix 2.0, so upon trying to build the nvidia drivers, you'll get the following error:

[code]

Replacing the null with the correct hash makes it work.

[2018-05-17 22:11] guibou commented on #9
That's unfortunate, because it means that we need an array of all possible nvidia drivers and there hash. Or a wrapper script which prefetch the file AND then call `nix-build`.

I'll give a try to a solution like that tomorrow, thank you for reporting.

[2018-05-18 15:03] guibou commented on #9
I tested today and it works on nix 2.0 without any issue, using `nixpkgs-unstable`. You log appears to be a simple network issue, and I bet that changing the hash solved the issue just because the network was fixed during that time.

Could you try again with `hash = null` and a working network ?

[2018-05-18 15:05] guibou opened #10 "`nixGLIntel` broken"
I need to investigate:

since a few `nixpkgs-unstable` upgrades, `nixGLIntel` is now broken. I assume that it is due to the `libGL` refactor which appears in nixpkgs recently.

[2018-05-18 15:07] Infinisil commented on #9
Nope that doesn't work, I should've been clearer: I tested my network along this, which was just fine, everything worked. The reason it appears to be a network issue is because according to @cleverca22 Nix detects that it's not a fixed-output derivation, so it doesn't give you network access to begin with.

[2018-05-18 21:55] guibou commented on #9
Do you use sandboxing?

[2018-05-19 11:43] Infinisil commented on #9
Indeed I do

[2018-05-19 19:41] guibou commented on #9
Have a look at the script `nvidiaInstall` I just pushed, it fixes the issue.

Sorry it tooks a bit of discussion for me to understand the issue, I'm not using sandboxing on the distribution on which I'm using `nixGL` (arch linux) because sandboxing does not work on arch, so I was not aware of the issue.

Thank you for reporting.

[2018-05-19 19:41] #9 closed

[2018-05-19 19:54] #10 closed

[2018-07-10 01:17] guibou opened #11 "`nixGLNvidiaBumblebee` fetch and build two nvidia version"
It will build the required version, and also the default version provided by the current nixpkgs clone.

[2018-07-10 01:17] guibou commented on #11
Fixed in 2021895c3fbef8baa3987939f4b03447ed9dd60c

[2018-07-10 01:17] #11 closed

[2018-07-10 01:18] guibou opened #12 "allowUnfree by default"
All `Nvidia` wrappers needs the user to set `allowUnfree` in his nix configuration. This is painful.

[2018-07-10 01:19] guibou commented on #12
4088ce159ec0d6297bc50d374112212c7d98649d `allowUnfree` for `nixGLNvidiaXXX` by default.

[2018-07-10 01:19] #12 closed

[2018-07-10 01:26] guibou opened #13 "nixGLBumblebee fails with various symbols error in `/usr/lib`"
For example `symbol lookup error: /usr/lib/libpangoft2-1.0.so.0: undefined symbol: pango_font_description_get_variations`.

The interesting point is that all symbol issues are related to a path in `/usr/lib`, which should not appears at all, because `nixGL` only uses path from the nix store.

[2018-07-10 01:27] #13 closed, assigned to nobody

[2018-07-10 01:29] guibou opened #14 "nixGLNvidiaXXX fails with undefined symbol: _glapi_tls_Current"
Since a recent `nixpkgs` update, nixGLNvidiaXXX fails with `symbol lookup error: /nix/store/11asls7i6l1qz9cm08is75xhgdc1b212-libGL-1.0.0/lib/libGL.so.1: undefined symbol: _glapi_tls_Current`

- related debian bug repport: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=878968

[2018-07-10 01:35] #14 closed

[2018-07-10 01:38] guibou commented on #3
Usage of `libglvnd` is now mandatory, so this bug may come back. Users of older nvidia drivers are encouraged to use the branch `backport/noGLVND`.

[2018-08-09 04:11] hasufell opened #16 "nixpkg?"
Is there no way to make this a proper nixpkg? It feels clunky to install manually this way. I want this to be part of my configuration.

[2018-08-09 09:28] guibou commented on #16
Well, I can push the derivation in `nixpkgs`, but you'll still have to call it manually to setup the desired driver.

I'll see if I can find something smart today, thank you for opening this issue, it will motivate me ;)

[2018-08-09 09:34] guibou commented on #16
Actually it may be interesting if I provide a way to easilly wrap another program. So for example, a custom `.config/nixpkgs/nix.conf` would contain something such as:

[code]

What are you thoughts about that?

[2018-08-09 11:59] hasufell commented on #16
my use case is selenium in a nix-shell, which does some funky stuff, however, other people don't have this problem on non-NixOS systems, so I cannot wrap it unconditionally

[2018-11-14 01:25] jascase901 opened #17 "Doesn't work with nvidia version 415.13"
./nvidiaInstall.py 415.13  nixGLNvidia
path is '/nix/store/mp5phz9a923hk9sxdf8iyg3p0i82dqmr-NVIDIA-Linux-x86_64-415.13.run'
these derivations will be built:
  /nix/store/calk0i31k1bdjdci2p9n6cr9bl18f1j2-nvidia-415.13.drv
  /nix/store/2k530a3vqspy4q5dww9nf1a2bjq0nazw-nixGLNvidia.drv
building '/nix/store/calk0i31k1bdjdci2p9n6cr9bl18f1j2-nvidia-415.13.drv'...
unpacking sources
Creating directory NVID

[2018-11-14 09:45] guibou commented on #17
Thank you for reporting that.

Apparently the nvidia driver package changed.

I'll try to find a way to make something reproducible (`nixGL` still needs to handle "old" drivers)

[2018-11-14 09:53] guibou commented on #16
Sorry for the delay.

As a workaround, you can always do:

[code]

Which will brings `myNixGL` package in scope. Depending on if you are in a nix-shell or in a nixos configuration file, you can put this package in the needed `buildInputs` or environment package list.

[2018-11-14 17:50] jascase901 commented on #17
Thank you. I ended up using 4.10 which worked brilliantly.

[2019-05-11 16:19] Kha commented on #16
Not the OP, but to me this would sound pretty much ideal!

[2019-05-23 02:07] edahlgren opened #19 "Difficulty installing with nouveau + nvidia"
From [this comment](https://github.com/NixOS/nixpkgs/issues/9415#issuecomment-494960213), a longer explanation of what *I believe* was my underlying issue installing and using nixGL. Assume Ubuntu 16.04 for apt commands / packages.

----

1. First I checked my configuration and found a "nouveau" driver being used for my NVIDIA GM108M [GeForce 940MX]. It looked something like this:

[code]

2. My h

[2019-05-23 10:25] guibou commented on #19
Hello. Thank you for reporting this issue.

With nouveau you should use `nixGLIntel` (Which should definitly be renamed `nixGLMesa`). If you use the proprietary nvidia driver, you should use `nixGLNvidia`.

However, you appear to have an hybrid configuration, with an intel card AND a discreet nvidia GPU which is setup by default to use `nouveau`. I'm not used to this configuration (most people wit

[2019-05-23 20:52] edahlgren commented on #19
Cool! Look forward to hearing what you find out.

[2019-06-18 23:58] jascase901 commented on #17
nvidia 430.26 works as well.

[2019-06-19 08:28] guibou commented on #17
Ok. Thank you. Sorry I gave no answer in the meantime.

[2019-06-19 08:28] #17 closed

[2019-09-08 00:05] Askmewho opened #20 "Could this work for fake a desktop profile en gles arm platforms under mesa drivers?"
Thats all.

[2019-09-08 14:23] guibou commented on #20
I have no idea. Could you give me a bit more details about what you are trying to do?

[2019-09-08 15:30] Askmewho commented on #20
There are a lot of "arm" gous than has his mesa driver well developed. But some of that drivers doesnt want to add third generation opengl desktop profile (they add 2.1 but doesnt want to do some hacking to add 3.x). Some games should run with the actual gl instructions on 3.x gl ES, and maybe this project could help on fake it.

[2019-09-24 15:49] #20 closed

[2019-09-24 16:12] guibou commented on #20
@Askmewho Does that mean that the issue is fixed for you?

[2019-09-24 16:31] Askmewho commented on #20
That means I found a repo than already do what I need (at least on theory). I do t have the gles profile needed to test it anyway. Rpi4 videocore6 gpu has a mesa profile of gles 3.0, but its gles 3.2 capable on the hardware, so, not ready to try to fage my profile! Thanks to ask

[2020-02-10 16:44] expipiplus1 opened #21 "existing LD_LIBRARY_PATH is not handled correctly"
At the moment the shell expansion takes place at *build time*.

A solution would be to use a non-expanding here-doc, i.e. `'FOO'` instead of `FOO`.

Perhaps the neatest fix would be to use nixpkgs' lib's `writeTextFile` (or whatever it's called) with the executable option set to true.

[2020-02-29 02:16] andregrigon opened #22 "nixGLNvidia: 5: $@: not found"
After commit 5ba3174 I get the error "$@: not found" when running nixGLNvidia with or without arguments. The script looks like this:

    #!/usr/bin/env sh

    export LD_LIBRARY_PATH=/nix/store/sinkyq6agjlpqg2vmmdfzncfnqnhx9cz-libglvnd-1.2.0/lib:/nix/store/29dnq9ca04jlkax8x272al17lm2nfpmi-nvidia-435.21/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}
    "\$@"

Notice the last line, which before 5ba3174

[2020-02-29 13:55] guibou commented on #22
Thank you for reporting that.

@expipiplus1 could you have a look?

[2020-03-03 19:57] #21 closed

[2020-03-03 19:58] guibou commented on #22
Closed by #23

[2020-03-03 19:58] #22 closed

[2020-03-04 08:08] allter opened #24 "Provide version of a wrapper with libGLX_indirect.so.0 (?)"
On my notebook I had to patch nixGLIntel as the following to work:
[code]
This is based on reading of https://github.com/NixOS/nixpkgs/issues/9415 .
I don't know the linux OpenGL stack enough to understand why. :)

[2020-03-04 09:59] guibou commented on #24
@allter

Thank you.

Could you first try the `master` version of `nixGL`. I've done changes yesterday and they may have some impact.

If it does not fix your issue, please, can you tell me what precise command you run so I can reproduce the bug?

[2020-03-05 06:44] allter commented on #24
master doesn't work for me because i don't have invidia:
[code]

[2020-03-05 06:52] allter commented on #24
If this can help, i send here output of nixGLIntel glxinfo (with nixGLIntel patched from 5ba3174 as above):
[glxinfo.nix.txt](https://github.com/guibou/nixGL/files/4291352/glxinfo.nix.txt)

output of ubuntu's system glxinfo:
[glxinfo.ubuntu.txt](https://github.com/guibou/nixGL/files/4291354/glxinfo.ubuntu.txt)

lshw:
[lshw.txt](https://github.com/guibou/nixGL/files/4291355/lshw.txt)

[2020-03-05 09:45] guibou commented on #24
@allter (sorry, I edited your comment by mistake).

It is `nix-env --file ./ -i -A nixGLIntel`.

Could you retry `master` using this correct command?

[2020-03-08 00:28] georgewsinger opened #25 "nixGL doesn't work on static binaries generated by nix-bundle"
[nix-bundle](https://github.com/matthewbauer/nix-bundle) converts nix expressions into static binaries. I've ran some tests, and these static binaries don't *seem* to mess with environment variables like `LD_LIBRARY_PATH`. Nevertheless, I am unable to use nixGL to run these static binaries. For example with godot (game engine) I get:

[code]

and with `glxgears` I get:

[code]

which for reference

[2020-03-08 14:06] guibou commented on #25
I opened an issue regarding `nix-bundle` and `OpenGL` a while ago: https://github.com/matthewbauer/nix-bundle/issues/23

I don't think that `nixGL` should be used this way. I mean, the point of `nix-bundle` is to build something which is independant of the system and which works on a system on which `nix` is not installed (else, there is no point doing the bundle).

So packaging `nixGL` outside of

[2020-03-16 08:52] expipiplus1 commented on #22
oops! sorry. Thanks for fixing @guibou

[2020-04-13 10:24] chanilino opened #27 "nixGLIntel glxinfo doesn't work"
I have nix installed on  Debian 10 whith this setup of software and hardware:
[code]
I have installed nixGLIntel following this steps:
[code]
If I run error with glxinfo:
[code]

Without nixGlIntel is working well:
[code]

[2020-04-13 21:49] guibou commented on #27
Is this nix `glxinfo` or ubuntu one?

[2020-04-14 20:56] chanilino commented on #27
it was the glxinfo from debian. With the glxinfo from nix is working ok. I close the issue. Thank you.

[2020-04-14 20:56] #27 closed

[2020-04-15 10:46] guibou commented on #27
Thank you ;)

[2020-04-15 13:28] expipiplus1 opened #28 "nixVulkanNvidia doesn't allow the vulkan-loader to find the vulkan icd files"
setting `VK_ICD_FILENAMES` to the icd json file in the driver derivation allows things to work. But I think it would be better to append to `XDG_Whatever_it_is` to allow the wrapped program to find this file more naturally.

[2020-04-16 14:34] expipiplus1 commented on #28
Ah, there is no better way of setting this than with `VK_ICD_FILENAMES`: https://vulkan.lunarg.com/doc/view/1.0.54.0/windows/LoaderAndLayerInterface.html#user-content-icd-discovery

[2020-04-16 14:36] expipiplus1 opened #29 "Add swiftshader wrapper"
I've opened a PR against nixpkgs to add the swiftshader driver. This could be another wrapper type for nixGL

https://github.com/NixOS/nixpkgs/pull/83874

[2020-04-17 16:20] guibou commented on #28
@expipiplus1 could you do a PR for that? I'll approve it if it looks sane. I unfortunately have no idea about the vulkan environment, and no idea on how to test it.

[2020-04-18 08:38] expipiplus1 commented on #28
@guibou Unfortunately I'm not sure setting that var is actually the correct thing to do as it will prevent the loader finding system icd files

I think it's probably *better* than not setting it. The other alternatives would be

- patching the loader to also look in a `NIX_VK_ICD_FILENAME_PATHS`
- performing the icd resolution in the wrapper and passing that as well as the new icd to the loader in

[2020-04-26 10:45] guibou opened #30 "32bit support"
In https://github.com/NixOS/nixpkgs/issues/85509 users observed that OpenGL does not work with 32bit system (on a native 64 bit system).

This is because we don't load the 32 bit driver.

I've done preleminiaries tests:

- install `glxinfo` for 32bits: `nix-shell -p pkgsi686Linux.glxinfo` and observes that `glxinfo` fails, even with `nixGLIntel`.
- Do the following patch:

[code]

And rerun `glxin

[2020-04-26 10:53] guibou commented on #30
I'm thinking about many design:

- non-optional: all `nixGL` wrapper will includes the 32 bit and 64 bit drivers
- optional: all `nixGL` wrapper may includes the 32 bit wrapper if said during the configuration
- splitted: split the implementation in two wrappers: `nixGLIntel` and `nixGLIntel32Bits` for exemple.

[2020-04-26 14:35] #30 closed

[2020-04-27 13:05] guibou commented on #24
@allter without much informations, I'm closing this bug. Feel free to reopen if you still have problem.

[2020-04-27 13:05] #24 closed

[2020-04-27 19:27] NinjaTrappeur opened #36 "Test.hs stalls with amdgpu + NixOS 20.03"
Running `./Test.hs` end up stalling on my system. It's been displaying

[code]

for more than 45 minutes. No CPU activity according to htop, no network activity according to nethogs.

System:
- driver: amdgpu
- GPU: radeon 590
- system: NixOS 20.03

I can provide you with a live tmate session to debug that if needed.

[2020-04-28 08:48] guibou commented on #36
@NinjaTrappeur confirmed that the test are actually working. I don't understand why it stalled.

In the meantime, #37 is an attempt at fixing @NinjaTrappeur configuration.

[2020-04-28 09:25] NinjaTrappeur commented on #36
I did not manage to reproduce the stall, even with a brand new repo
checkout.

Could we have some leaking state elsewhere?

[2020-04-28 09:46] guibou commented on #36
I don't know. `Test.hs` is a bit weird. It runs many sub process, calling `nix-shell` and this is not even a real (i.e. compilled) haskell program : it is run in interpreted mode, which may be responsible for dead lock.

[2020-04-28 21:16] manveru opened #43 "Test results with GeForce GTX 1060 6GB"
Running the `./Test.hs`, I get quite a number of failures.

[code]

[2020-04-29 09:03] guibou commented on #43
Thank you for this repport.

Could you share me your operating system please ? I guess you are on nixos 19.08 based on the results of the `Sanity` checks. So it means that by default you have a correct opengl setup and that's surprising.

Could you share the output of:

[code]

And which commit or nixGL you used.

[2020-04-29 11:31] manveru commented on #43
I'm on NixOS 20.03 at `74a80c5a9ab04f87d48b91281f8508ee4b631d43`.
`nixGL` is at `e2cc0101af3a45d3d1bfe71e3edb821be3868ac4`.

I assume you meant

[code]

and for 20.03 it's `/nix/store/06l4rdzhvnsi1pmm88i4gy58j9d9gfp5-nixGLNvidia-440.82`

[2020-04-29 14:39] rvanlaar opened #44 "Howto run commands automatically with nixGL?"
I much appreciate the effort you put into this package.
It made me able to use nix on ubuntu.

Could you shed light on how to solve the following?
I normally start programs via the gnome shell launcher.
- Is there a way to automatically make GL programs such as firefox start with nixGL?
- How can one figure out if a program benefits from nixGL?

In the firefox example, I went on to investigate due

[2020-04-29 15:25] guibou commented on #44
Thank you for your feedback, it is highly appreciated.

You can create your own derivation and wrap them with `nixGL`. I should document that or either write a magic wrapper which does that automatically.

In theory, you can also run your shell launcher in `nixGL` and environment variables should propagate correctly. But it may be a bit more work because you'll have to change the way you start you

[2020-04-30 10:49] rvanlaar commented on #44
What is your opinion on wrapping `.desktop` files?

For example, have a script in .profile that replaces copies the `.desktop` file to a new directory and prepends the Exec line with `nixGL`

[2020-04-30 11:17] rvanlaar commented on #44
I solved it for now by adding the export part in the nixGL script to my `$HOME/.profile`.

In my case that's:
[code]
It's not perfect, This will add these paths every time .profile is executed.
Which means, logging out and in without a reboot will make the `$LD_LIBRARY_PATH` grow.

[2020-05-03 23:43] mjlbach opened #46 "Integration with nix-shell?"
I Just discovered nixGL when trying to figure out how to run GPU-accelerated tensorflow on non-nixos systems. I usually develop in nix-shell, and was searching for a way to append LD_LIBRARY_PATH in the shell, but didn't find anything. I came up with this shellHook.

[code]

Is this the recommended solution?

[2020-05-04 11:27] guibou commented on #46
@mjlbach that's indeed a solution. I don't know if there is a recommended solution actually. Perhaps a few nix function can be added to nixGL to ease this operation.

[2020-05-04 20:48] rvanlaar commented on #44
The scripts in this gist switch automatically between intel and nivida drivers:

https://gist.github.com/rvanlaar/5ca5ed3cd4314c12e8518b5672ae3774

[2020-05-05 07:34] guibou commented on #44
Thank you. It is appreciated.

I had a look at your script and indeed that's an interesting approach. However I'm afraid of the robusntess of it. It needs the egpu utility installed (which may not be installed by nix because it may need host system specific configuration, I don't know).

Another problem of having a "global" nixGL installation (so, basically, something in `.profile` as you suggest)

[2020-05-05 10:17] rvanlaar commented on #44
The points you raise are valid, those are issues I have with my current script as well.

It's not robust enough yet:
1) It needs manual intervention when nixGL is updated and
2) the egpu switcher script is very specific to my situation (as you already mentioned)

What could be an option is to have nixGL scripts that can be sourced from .profile, so have them without the "$@" at the end. That would

[2020-05-05 13:14] guibou commented on #44
You have really good point here. Indeed, `nixGL` may generate sourceable scripts usable in `.profile` and even in the `nixGLXXX` command.

I'll give a try at this refactoring when time is available. Thank you!

[2020-05-05 14:11] rvanlaar commented on #44
That would be great. I really love how open you are to improvements to nixGL.

Just had this idea: Have a minimal OpenGL program in nixGL that crashes without the proper libs?

It could be used as follows (in pseudo code):
[code]

[2020-05-05 16:04] guibou opened #47 "Wildcard nvidia icd file"
https://github.com/NixOS/nixpkgs/issues/86620 want to change the nvidia icd file from `nvidia.json` to `nvidia_icd.json`.

To ensure compatibility with multiples nixpkgs clone, nixGL must work with both.

[2020-05-06 18:06] mgmillani opened #48 "Tests fail on Radeon RX 560X"
I obtained the following output when running Test.hs:

    $ env DRI_PRIME=1 ./Test.hs
    Running tests for nixGL
    It can take a while, this will build and test all drivers in the background

    Sanity
      OpenGL
    Error: couldn't find RGB GLX visual or fbconfig
        fails with unwrapped glxinfo64
    Error: couldn't find RGB GLX visual or fbconfig
        fails with unwrapped glxinfo3

[2020-05-06 19:29] guibou commented on #48
Thank you for this bug report. This is highly appreciated considering that you have a Radeon card on an hybrid configuration, something I had never been able to test.

Could you share your NixOS setup regarding the opengl setup? Also, how to you switch between the integrated GPU and the discrete one?

The glibc stuff is expected. Right now, nixGL is not doing anything for radeon driver, so you bas

[2020-05-06 20:10] mgmillani commented on #48
I think the only things opengl-related in my configuration are the following lines:

    hardware.opengl.driSupport32Bit = true;
    environment.systemPackages = [ pkgs.xorg.xf86videoamdgpu ];

I use the first line to be able to run games on wine.

This is done through the environment variable `DRI_PRIME`. Setting it to 1 enables the discrete GPU. If it is unset, the program is run on the integrat

[2020-05-08 12:26] koddo opened #49 "add nvidiaFile option in addition to nvidiaVersion"
Hello. I tried installing nixGL on my system and the driver file is missing on the nvidia website:

[code]

That's funny because the driver is not that old and they deleted it already. I upgraded it using ubuntu's utilities and nixGL got installed successfully.

Would be great to have an option to host this file independently for reproducibility.

[2020-05-08 12:46] guibou commented on #49
Never trust proprietary company for reproducibility.

Did you see that you can pass `nvidiaHash` as well when building. This way, if your driver is already in the nix store, it will be picked from the nix store.

You can use `nix-prefetch-url` to download it and add it to the store (and get its control sum). `nix-prefetch-url` also accepts a local file path, such as `nix-prefetch-url file:///abs/p

[2020-05-08 12:49] koddo commented on #49
Yeah, looks good, thanks.

[2020-05-08 12:49] #49 closed

[2020-05-09 18:56] guibou commented on #48
@mgmillani I can do attempt and ask you for test, but this may take time. If you can give me an access to your machine (`tmate, or raw ssh session`), I may be able to live test.

[2020-05-09 19:07] mgmillani commented on #48
Sure, I can run further tests when you got something ready.

Since this is my personal computer, I would rather not give anyone else access to it. (I'm sure you understand).

And thanks a lot for looking into this!

[2020-05-09 19:12] guibou commented on #48
Yes, I do, that's perfectly fine ;)

[2020-05-09 19:15] guibou commented on #28
I'm closing because of #35. Tell me if you think there is still work to do.

[2020-05-09 19:16] #28 closed

[2020-05-09 19:18] guibou commented on #36
I'm closing this. There may be a lot of think to imporve the test, but #39 at least should have fixed the stale and #37 fixs the bug with the mesa driver with radeon card.

[2020-05-09 19:18] #36 closed

[2020-05-09 19:19] guibou commented on #43
That's surprising. The `nix-build` command works when you run it directly, but not during the test.

[2020-05-09 19:25] guibou opened #50 "Cuda support"
In https://discourse.nixos.org/t/cuda-from-nixkgs-in-non-nixos-case/7100/4 users are asking for cuda support.

This is only for the nvidia and nvidia bumblebee drivers.

[2020-05-09 21:07] guibou commented on #48
Could you give me a few details. On your nixos setup, with working opengl, could you give me the output of;

[code]

After analysis of your test results, nixGL seems to work fine for OpenGL on your configuration, using the mesa driver. But not for vulkan.

[2020-05-09 21:19] mgmillani commented on #48
$ glxinfo | grep "OpenGL version string"
    OpenGL version string: 4.6 (Compatibility Profile) Mesa 20.0.2

    $ DRI_PRIME=1 glxinfo | grep "OpenGL version string"
    OpenGL version string: 4.6 (Compatibility Profile) Mesa 20.0.2

    $ DRI_PRIME=1 vulkaninfo | grep "driverName"
    	driverName         = radv
    	driverName                                           = radv
    	driverName

[2020-05-09 21:30] guibou commented on #48
Thank you!

I do wonder now if my test must check for the `OpenGL renderer` string or the `OpenGL version`....

[2020-05-09 21:42] guibou commented on #48
Vulkan is failing because the 64 bit loader is trying the 32 bit driver and the converse. I'm surprised.

[2020-05-10 00:39] expipiplus1 commented on #28
Thanks!

Haven't tested it but it looks good to me!

On Sun, May 10, 2020, 3:16 AM Guillaume Bouchard <notifications@github.com>
wrote:

[2020-05-24 11:54] piegamesde opened #51 "Readme examples broken: "name: command not found""
The readme tells me to run `$(nix run nixpkgs.glxinfo -c glxinfo)`. This will print `name of display :0` as first line and then try to run that as a command. I think the correct version of this command should be `$(echo nix run nixpkgs.glxinfo -c glxinfo)`.

[2020-05-26 20:28] bbigras opened #52 "Test results with GeForce GTX 660 Ti 2GB"
5f330c2185dc7816fed431d29c4249ab090deb00

using the nvidia official driver

[code]

[2020-05-27 07:13] guibou commented on #52
Hey, thank you.

I'm really interested by these results. The problem is that the sanity check are failing, meaning that you are on nixos with a nixos too compatible with the version of nixGL. Which nixos channel are you using?

This unfortunately means that we are not in the right conditions to test.

I'll try to improve the test bench for this use case.

[2020-05-27 13:43] bbigras commented on #52
I'm on nixos-unstable. I'm importing `nixos-hardware/common/cpu/intel` too.

Don't hesitate to ping me if you want me to run any test.

 - system: `"x86_64-linux"`
 - host os: `Linux 5.4.41, NixOS, 20.09pre226148.0f5ce2fac0c (Nightingale)`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 2.3.4`
 - channels(bbigras): `"home-manager, unstable-20.09pre226148.0f5ce2fac0c"`
 - channel

[2020-05-27 16:11] kolloch opened #53 "Building `nixGLNvidia` fails with nixpkgs 20.03"
I just cloned `nixGL` at 5f330c2185dc7816fed431d29c4249ab090deb00.

I tried to build `nix-env -f ./ -iA nixGLNvidia` but got this error:

[code]

[full log](https://gist.github.com/kolloch/d1226d8702c0c945683deedaef45d307)

I am using Nix with nixpkgs 20.03 on Ubuntu 20.04 LTS.

[2020-05-31 16:18] tomberek opened #54 "Error Report"
[code]

[code]

[2020-06-10 14:59] guibou opened #55 "Do not build nvidia kernel"
Nvidia kernel is not needed when building.

Actually, it exists some cases of nvidia driver which are not compatible with the nvidia kernel available in nixpkgs.

We can use the `libsOnly = true` argument of `nvidia_x11`, but unfortunately, `bumblebee` is using the `.bin` output of `nvidia_x11`, which is disabled when `libsOnly`.

[2020-06-13 18:31] mjlbach commented on #44
This is what I do for reference on a non-nixos system:

[code]

[2020-06-18 00:42] masaeedu commented on #19
I'm running into what I think is a similar situation (sorry if I'm conflating different issues): on Arch Linux I have the nouveau kernel module loaded, and the nvidia package uninstalled entirely. The device has an GTX 1060 graphics card, which nouveau picks up as code name [NV136](https://nouveau.freedesktop.org/wiki/CodeNames/#NV130):

[code]

Now when I try to run a Haskell application that dep

[2020-06-18 08:51] guibou commented on #19
@masaeedu thank you for the detailled report.

To be sure, you `glxinfo` is the one from nixpkgs or does it comes from your host system?

Is your haskell application built in a nix environment? Using GHC from nix and with nix dependencies? Because if not, perhaps it is not needed to run it under `nixGL`.

I do realize that "I'm experimenting today with a computer with nouveau driver" was one year

[2020-07-03 15:26] elkowar commented on #16
how's the process on this? would be nice to have a clean way to use programs that are affected by the gl issues configured in home-manager on non-nix ^^
Having an easy way to wrap things like alacritty would be _nice_

[2020-07-19 22:26] yilinwei opened #58 "Typo in file?"
I'm using vulkan so I haven't tested it, but this looks like it might be a typo?

https://github.com/guibou/nixGL/blob/e7039bfb2c250f2259955901753562d170d6ea14/nixGL.nix#L183

[2020-07-20 20:48] cfhammill commented on #54
I have the same failures

[2020-07-22 23:48] zicklag commented on #58
I mean, it's working for me on OpenGL, but that sure does look like a typo. :man_shrugging: :smile:

[2020-07-24 20:58] guibou commented on #58
That's definitly a typo. And the funny part is that it is not an issue because `nixGL` is "manually" linked inside the executed code.

Thank you. I'll fix that soon, but that's not causing any bug.

[2020-09-06 21:00] apache8080 commented on #46
This doesn't work if I true to use a nix pure shell. Any methods on how to allow that?

[2020-09-18 23:02] rardiol opened #60 "Test.hs fails on intel"
nixGL commit 210c6a8a547b4a548b89b08bd46ffedc396bc4f4

ubuntu 16.04.7 kernel 4.4.0-189-generic

[code]

[2020-10-04 13:42] DamienCassou commented on #16
I'm also interested in this. Including nixGL as is in nixpkgs would already be good first step. Wrappers would be a nice second step in my opinion.

[2020-10-05 00:33] jsmaniac commented on #16
IIUC, modern nixpkgs is a flake, so all the inputs have to be listed explicitly and their hashes committed in a flake.lock file.

This means 10 gazillion Nvidia installer versions would have to be listed explicitly (the webpage http://download.nvidia.com/XFree86/Linux-x86_64/ does have them in a simple format, so merely copy-pasting the entire page should give a list).

This also means that the ha

[2020-10-05 11:34] #58 closed

[2020-10-05 11:39] guibou commented on #16
@jsmaniac Thank you for your feedback.

Yes, definitly yes. This will improves bulid time, reproducibility and everything. The issue is that we, nixGL authors, will have to be really reactive to new nvidia release and this will forces user to upgrade their nixpkgs often. So a fallback mecanism would have to be implemented.

Yes! I do really dream about a single `nixGL` wrapper which does the insta

[2020-10-05 12:26] jsmaniac commented on #16
That's true. I guess keeping a nix expression similar to the current one, and having a list of known versions (with their `flake.lock`ed hashes (though I'm not sure if a flake's inputs can be described dynamically using a list)) would make it possible to still use a custom version? `nix-shell` has `--arg` that I've seen used, might allow to specify the version if it wans't known.

I didn't see whe

[2020-10-05 13:14] guibou commented on #16
This is not happening in the code right now, you are right.

The point is that you want the installer driver to match the running code. Here I see two uses cases:

- You have a "locally" defined "nix-shell" which includes `nixGL` as well as some other programs / libraries. In this context, `nixGL` is built with the same libraries as the other available programs, so right now it is fine.
- You have

[2020-10-05 13:37] jsmaniac commented on #16
Oh, I see. If I'm understanding correctly, if my nixpkgs is an overlay mixing packages from 20.03 which I want to keep stable and some packages from 20.09 to get the latest and greatest, the nixGL should use 20.03's nixpkgs for the former and 20.09's nixpkgs for the latter?

If that's indeed the case, I don't see how it could be solved other than using a `wrap` which takes a package and a referenc

[2020-10-05 13:49] guibou commented on #16
@jsmaniac Yes, you got it right. The use case I'm having everyday at work is that I'm working on NixOS but I have different nixpkgs pinned for my clients. So each `nix-shell` for each client contains its own `nixGL` which depends on the "correct" version of the driver.

[2020-10-28 19:33] zakame commented on #24
I ran into this very same issue while evaluating Alacritty and Kitty on Nix under Slackware 14.2, and I adapted this change from @allter to the latest `master` version to make these terminals work on my Intel i915-based laptop.  Let me open a PR in a little bit...

[2020-11-10 23:09] jsmaniac commented on #16
I tried turing nixGL into a flake (without having auto-detection etc.), and it works : https://github.com/jsmaniac/nixGL/blob/b93246bced824e54e3c2bc059af5c39379813904/flake.nix

However, I have to hard-code the choice between nixGLIntel and nixGLNvidia, and I have to hard-code a specific NVidia version. I guess making different outputs for the flake would allow multiple versions to be available in

[2020-11-23 23:22] Kampouse opened #65 "error:nvidia340 missing file*"
installing
sed: can't read 10_nvidia.json: No such file or directory
builder for '/nix/store/2rf3b7fl9w3ccy3gra46jpg5wvg5pcrr-nvidia-340.108.drv' failed with exit code 2
cannot build derivation '/nix/store/h59yvaaqk78diplzrm60d0jkvmdcmdr2-nixVulkanNvidia-340.108.drv': 1 dependencies couldn't be built
error: build of '/nix/store/h59yvaaqk78diplzrm60d0jkvmdcmdr2-nixVulkanNvidia-340.108.drv' failed

[2020-11-24 17:02] guibou commented on #65
Hello,

Could you give me a bit more context on how this happened?

[2020-11-24 17:52] Kampouse commented on #65
my current computer that run nixos as hardtime using  openGL i came here to see if this module would be able to resolve the issue but when trying to the script i end up with the error cited here

[2020-12-06 21:09] newkozlukov commented on #16
@jsmaniac

The `lib` output of a flake woud do? I've seen `mach-nix` has recently added one: https://github.com/DavHau/mach-nix/blob/8a719adddf9ef6a043afe31f14dbbfcb147a7c25/flake.nix#L36

This also prevents using `nixGLNvidia` in another flake with `nixGL` as a non-flake input: https://github.com/newkozlukov/dotfiles/blob/1e0bc11906602104eaeb71fcd3c6704d8b24c2b2/flake.nix#L8 (the reason to use fl

[2020-12-22 09:26] altsalt opened #66 "Dell XPS 13 9360 Error Report"
Debian 10

[code]

[2021-01-03 01:04] KaneTW opened #67 "nixGLNvidia fails on debian buster due to Tesla driver 418.152.00"
Debian Buster can't build nixGLNvidia. 418.152.00 is located at https://us.download.nvidia.com/tesla/418.152.00/NVIDIA-Linux-x86_64-418.152.00.run and not under http://download.nvidia.com/XFree86/Linux-x86_64/, so the URL is wrong and it can't be fteched.

[2021-02-04 13:51] terlar commented on #16
I haven't looked into auto-detection, but I did spend some time to make this easy to use for wrapping applications, for now I created the following overlay:

[code]

This first overlay is shared between several different systems, then I use it in another overlay like this (defined per system):
[code]

I think if we integrate something like this + potentially auto-detection and make it a flake that

[2021-03-07 14:38] Thesola10 opened #68 "Installing nixGLDefault can be done by adding this repo as a channel"
Here's a suggestion for a "quick start" install:

[code]
Running the commands above has the added benefit of following the system upgrade process, and is inspired by home-manager's install process.

[2021-03-08 08:05] guibou commented on #68
Awesome idea. Thank you.

I'll try to update the Readme.

[2021-04-25 23:26] dlip opened #69 "wslg support"
Is it possible to get this to work with [wslg](https://github.com/microsoft/wslg)? All my natively installed wsl ubuntu apps work with 3d acceleration, but not the ones installed with nix.

[2021-04-27 02:17] Fuuzetsu commented on #16
For us, we have multiple users (say, 10 developers) and each needs to be able to run some produced binary and the setups aren't uniform at all: some people on nvidia, some on intel and versions vary.

I was unable to use the above code as-is because of `builtins.currentTime` usage which is not allowed in the flake for example and we'd have to pick a version up front anyway.

Instead, I did somethi

[2021-04-27 09:52] guibou commented on #16
Thank you for this discussion. Many points

- your approach with a wrapper which calls `nix-build` does have a limitation. I suppose that `input.nixpkgs` contains the path to your nixpkgs clone. If you introduces an overlay to `nixpkgs` which override an important dependency of `nixGL`, it will build a different version.
- As you observed, the call to `nix-build` is slow.

One solution there is in

[2021-04-27 09:54] guibou commented on #16
Note: we can even write a "fallback" for nvidia drivers which, if the driver version number is not known, we try to `nix-build` it using the original approach.

I'll give a try to this approach this afternoon. (ping me in thee month if I did not deliver... ;)

[2021-04-27 11:44] Fuuzetsu commented on #16
Thanks for the comments, I'll check them in detail tomorrow.

w.r.t. nvidia versions: I think this isn't really a problem honestly. It seems easy to automate updating a list of all the driver versions along with having a small program that lets someone do it themselves. It could even live in a separate repository as a flake. This of course only works if you are able to update nixGL when necessary

[2021-04-27 11:48] Fuuzetsu commented on #16
I forgot to mention why I'd want to do this: having such detection/wrapper embedded into the binary produced by our build system (cargo in this case) allows the user to invoke the binary directly even if they produced it in manual build via cargo while in a nix shell: it removes the need for separate logic in shell and when built via nix.

Of course it requires minor work and quite specific hack t

[2021-05-02 07:21] untoreh commented on #69
`mesa.drivers` needs to be built with the `d3d12` gallium driver, which currently fails because the [direct headers](https://github.com/microsoft/DirectX-Headers) have to be added as a dependency

[2021-05-02 13:22] guibou commented on #69
Hello. Thank you for reporting that.

I have no idea about how `wslg` works.

I'd like to try windows inside a virtualbox and see how it behaves, may be interesting.

[2021-05-12 04:19] samuela commented on #68
I'm not 100% up-to-date on what the recommended approaches are but alternative solutions also include flakes and overlays. I believe nix-channels are considered to be on the way out (slowly).

[2021-05-12 04:48] samuela commented on #68
I just tried this process, and install worked just fine... I was able to run `nix-env -iA nixgl.nixGLDefault`. But now `nixGLDefault` doesn't seem to exist:
[code]
OTOH it does seem to work if with `nixGLNvidia`.

[2021-05-14 01:15] samuela commented on #68
Oh, I see... I think this might be worth clarifying in the README then. I'd be happy to take a stab at it

[2021-05-17 13:58] rvanlaar commented on #44
An update. I've stopped using nix packages for graphical applications.

Two things changed,
1) I moved to an AMD graphics cards and
2) the mesa versions for ubuntu and nix-packages diverged

Having the nixGLIntel exports in my .profile per default resulted in a broken desktop environment. It crashed after login.
It was too much hassle to always start the program with `nixGLIntel $program`.

I'm al

[2021-05-18 22:16] samuela commented on #16
How about this as a solution: All of the wrappers have a means of detecting (via env vars or otherwise) if they're already in an environment that has been touched by another wrapper, and if so just do nothing. Ie. all of the wrappers would set an env var `NIXGL_WAS_HERE_FLAG=true`. If any wrapper detects that `NIXGL_WAS_HERE_FLAG` has been set, then it just becomes a pass-through.

That way you co

[2021-05-19 00:06] Fuuzetsu commented on #16
NIXGL_WAS_HERE_FLAG sounds OK; but I think we still would like no make it possible to have something just work without user having to explicitly invoke nixGLIntel or whatever. I think one needs auto-detection.

As a follow-up to my own comment, I've implemented a simple wrapper that just checks if `nixGL*` command is on the system and re-invokes itself with it, setting some flag like `--skip-nix-g

[2021-05-19 07:49] guibou commented on #16
Thank you for you comments.

Unfortunately, I do have too much things ongoing right now and I do not affect enough time to nixGL as I would like.

I'll read and easily approve any PR you may submit regarding this issue.

Hopefully I'll have more time in the future to work on this.

[2021-05-19 11:46] #68 closed

[2021-05-31 22:01] jkatzmewing opened #72 "Adding nixGL channel appears to break nix-env"
With a fresh install of nix, on a Surface Pro 3 with Intel graphics:

[code]

Edit: update is also broken.

[code]

[2021-06-01 00:43] jkatzmewing commented on #72
Specifying the attribute path works at least:

[code]

[2021-06-03 17:02] guibou commented on #72
Thank you for this report.

There is two issues:

- The one with `nix-env -qaP 'nixgl.*'`, I don't understand that one at all.
- The one with `nix-env -u`, that one is due to a `null` value in the nvidia version. It means that your env do have one of the nvidia package, but the "auto-detection" of the version is not able to find your GPU. This can be improved a bit, however I'm wondering why you h

[2021-06-04 17:35] jkatzmewing commented on #72
Thanks for responding @guibou.

The `nix-env -qaP` one was just to demonstrate that querying is broken, if that's what you're asking? It looks like the same issue to me, but then I'm very new to nix.

Re the `null` value in the nvidia version, that's the thing - I _didn't_ have the nvidia version installed, only nixGLIntel and nixVulkanIntel.

[2021-06-09 00:41] marrs commented on #72
I have a similar issue.  In my case I installed the `nixgl.nixGLDefault` package as recommended before I noticed the error.

I'd guess that whatever tries to detect the GPU doesn't work properly. ;)

I've tried uninstalling the package `nix-env --uninstall nixgl.nixGLDefault` but this doesn't seem to do anything (although running the command doesn't fail).

[2021-06-27 06:01] abueide opened #75 "nixVulkanNvidia rtx 3080 Test.hs Errors"
Thought I'd throw in my test failures. It seems to be working fine though when running nixVulkanNvidia to run my program though.

[code]

[2021-07-19 00:35] vlnk commented on #72
Same issue here. It seems that the line [`cp /proc/driver/nvidia/version $out || touch $out`](https://github.com/guibou/nixGL/blob/master/nixGL.nix#L38) failed and doesn't result to `null` as expected if there is no nvidia gpu. Is there a way to check the existance of `/proc/driver/nvidia/version` before doing this operation.

[2021-07-19 12:39] guibou commented on #72
I'm really sorry, Really. Life got a bit exiting theses days and I forgot to read my Github notifications.

I've pushed a PR #74 which should fix both issues. I've tested the different behaviors you described with `nix-env` and it works. Hopefully I did not break `nvidia` setup. If someone with `NVIDIA` is motivated to check, it will be appreciated.

[2021-07-20 13:38] vlnk commented on #72
hi, thank you for your fix!

But, I have an issue when I try to test your branch `unknown_nvidia_version`, it seems that the documented way to install a wrapper is not working:

[code]

I feel I am missing something but if your are changing the way to install the wrappers from source, you should update the README.

[2021-07-24 13:52] guibou commented on #72
You are perfectly right, sorry, my fix is half backed ;(

Let's go to the drawing board again.

[2021-07-25 11:48] #65 closed

[2021-07-25 13:49] guibou commented on #72
PR #76 is updated, with a huge refactoring. Documentation is updated accordingly. Tell me if that's work for you.

[2021-08-02 11:47] marrs commented on #72
I'm not quite sure how to test this.  I wasn't able to add the branch using `nix-channel` so I'm not able to establish if `nix-env -u` will now work.  I did manually install and test your latest version of the wrapper using the same procedure that @vlnk used and the wrapper is working fine for me, but then it was working for me before.

[2021-08-12 21:15] Pipeline79 commented on #72
This still doesn't work right for me.  My laptop is intel graphics only, and I only install that package.  The app works for me now, but if I do a channel update:

[code]

Which breaks $ nix-env -qa in the manner described above.
I installed from source using the unknown_nvidia_version branch.

[2021-08-12 21:37] yodahuang commented on #67
I'm on Ubuntu Bionic and got the similar error:
[code]

[2021-08-13 10:18] guibou commented on #67
Damned, that's interesting. Sorry @KaneTW I totally missed the notification.

Thank you @yodahuang, I'll try to find a solution for this ASAP.

[2021-08-13 13:50] #72 closed

[2021-08-13 13:51] guibou commented on #72
That's merged, we'll see how it goes in the future. Thank you for the report / discussion.

[2021-08-13 22:12] yodahuang commented on #67
My issue might be a duplication of #49, as Nvidia removes old driver.

[2021-08-21 23:37] critbase commented on #16
The approach (ugly hack) I had to getting this to work under flakes is like so:
[code]
where the inputs are my flake inputs for nixpkgs-unstable, home-manager, and this repository.
For some context: I'm running on Fedora with a single user nix install. I use flakes and home-manager. My laptop is dual-gpu, so normally i would run opengl apps with nixGLIntel, but for the occasions when I want to off

[2021-09-14 15:25] georgewsinger opened #81 "Unable to Build nixGLIntel on NixOS"
Attempting to compile in NixOS:

[code]

The command used to build:

[code]

The `NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1` is likely the issue, but I added it because without I get:

![image](https://user-images.githubusercontent.com/10677444/133285979-7501e827-d9d8-41a8-8673-0f67d3e4ce8a.png)

I'm running against `nixos-unstable` with an nvidia card.  My intended use case is to help a program usually

[2021-09-14 18:13] guibou commented on #81
Haa, damned, indeed, that's a regression introduced by #79 that I merged too quickly.

Thank you for the report. You can try previous commit as a workaround.

[2021-09-22 20:13] edrex commented on #68
I'm a new user, and I went the nixUnstable/flakes route from the beginning. AFAIK nixUnstable doesn't support channels:

[code]

Some option needs to be provided for end users using `nixFlakes`/`nixUnstable`. Continuing over on https://github.com/guibou/nixGL/issues/16

[2021-09-22 20:20] edrex commented on #16
Re flake: what about just providing an impure flake and instructing users to install with [nix profile install --impure](https://nixos.org/manual/nix/unstable/command-ref/new-cli/nix3-profile-install.html)? This impure flag is needed in order to pass an env var to `nix` as in [https://zimbatm.com/NixFlakes/#running-unfree-packages](https://zimbatm.com/NixFlakes/#running-unfree-packages). @jsmaniac

[2021-09-23 07:08] guibou commented on #16
@edrex I'll test an approve any PR related to this issue.

[2021-09-27 04:24] jashandeep-sohi commented on #81
For what it's worth, I believe I'm running into the same issue even with non-NixOS Nix. At the very least trying to build with #79 fails by default, but it could also be some other issue. However, I am able to get around it with  `--arg enable32bits false`.

[2021-10-03 09:53] nothingnesses commented on #81
I'm also getting [a similar error](https://gist.github.com/nothingnesses/489af9baef6df655572bb459c378d785) when trying to use it with Home Manager on a non-NixOS system.

[2021-10-04 00:52] georgewsinger opened #82 "Does `nixVulkanIntel` enable Vulkan Software rendering?"
I'm looking for a way to force enable Vulkan software rendering on arbitrary nix programs (running NixOS, in case it matters).

Can `nixVulkanIntel` play a part in this? If not, is it feasible with this package with modifications (I'm willing to help out here)?

[2021-10-04 09:38] guibou commented on #81
You can workaround it with:

[code]

[2021-10-04 10:03] nothingnesses commented on #81
@guibou Thanks for the advice. I'm new to Nix so I'm not too familiar with everything yet. To be clear, I'm not using `nix-build` to build nixGL though, I'm instead [using `import` in a shell script used by `writeShellScriptBin`](https://gist.github.com/nothingnesses/489af9baef6df655572bb459c378d785#file-home-nix-L4). So instead of:

[code]

Should I do something like the following instead?

[code

[2021-10-04 11:11] guibou commented on #81
Ha, @nothingnesses, that's an interesting use case.

You see the `{}` in `import (fetchGit {...}) {HERE}`, this is where you put this kind of options.

So you should use:

[code]

This being said, I don't really understand your program. The `nix-build` line will build `nixGL`, but not "install" it, so the following `nixGLIntel` call won't find the one you just built.

[2021-10-04 12:05] nothingnesses commented on #81
@guibou Thanks. The function is supposed to be used to wrap packages that require OpenGL, but the logic in the function/script was wrong as it wasn't using the proper path/name. I guess the proper way to do it would be to explicitly have the name as an argument, so something like the following instead (using an overlay instead of `let...in`):

[code]

That seems to produce the correct script, alth

[2021-10-04 12:23] guibou commented on #82
Hi @georgewsinger, thank you for your question.

How do you force enable vulkan software rendering (Using the mesa renderer, if you want a more "generic" solution, I'm afraid we are out of luck)?

`nixVulkanIntel` can for sure be used to force the software rendering, however I'm wondering if that's the right place. Providing a driver And forcing software rendering are two different problems.

For

[2021-10-04 12:32] guibou commented on #81
@nothingnesses Works for me in this context:

[code]

with:

[code]

I highly encourage you to not use advanced nix code inside nix string interpolation.

Also, `nixGLDefault` is a bit super hackish. If you know your nixGL driver (intel or nvidia), I encourage you to use the right version directory.

Aside: I'm closing the issue, with #83 it should build correctly without the `enable32bits = false

[2021-10-04 13:29] nothingnesses commented on #81
@guibou The fix from #83 seems to work well. I've taken your advice about string interpolation and `nixGLDefault` and have found out that I can just use the `pname` attribute instead of explicitly passing in the name. I'm now using something similar to the following instead, which seems to work well:

[code]

Thanks again!

[2021-10-04 13:54] SuperSandro2000 commented on #81
The compile error is fixed with https://github.com/NixOS/nixpkgs/pull/140484

[2021-10-31 14:44] Anton-4 opened #84 "nixVulkanIntel not found"
Thanks for creating and maintaining this project, it's been very useful to me :heart:

Trying to install `nixVulkanIntel` the recommended way showed the following error:
[code]
I was able to install `nixVulkanIntel` by cloning the repo and installing from source.
Let me know if I can provide any extra information.

[2021-11-18 16:10] mjrogozinski opened #85 "How to use auto.nixGLDefault?"
Hi,

I have installed the nixGL successfully using commands from the instruction:
[code]

I am trying to use what I have just installed in a `shell.nix` like this one:
[code]

**How to make the nixGL wrappers available inside the nix-shell created using such a script?**

[2021-11-18 16:21] mjrogozinski commented on #85
It turned out that nixGL is available in my shell.

I am closing this ticket.
It is probably obvious for everyone that after installing nixGL with nix-env -iA, it will be available globally.

[2021-11-18 16:21] #85 closed

[2021-11-30 10:59] gerardbosch commented on #68
Hi @edrex, I'm in the same situation than you and getting the same error. Did you figure out how to install `nixGL` with 'nix profile'? Thx!

[2021-11-30 11:31] guibou commented on #68
The problem you are having is because you upgraded your environment to flake. `nix-env` does not work anymore.

I'm not using flakes so I'm afraid I have no idea on how to solve that, of course #16 is a good entrypoint.

[2022-01-07 00:33] Fuuzetsu opened #87 "nvidia attributes are no longer exposed at top level"
The instructions in README say one can install `nixGLNvidia` and other friends easily. However at some point these were put under the `auto` attribute. This means the README is out of date now.

[code]

[2022-01-20 22:05] #87 closed

[2022-02-10 17:41] jacg opened #90 "Providing nixGL command via flake"
# Halcyon Days of Old

Many moons ago I used
[code]
and `buildInputs = [ nixGL.nixGLDefault ];`

to provide the `nixGL` command which automatically picked the correct implementation for whatever hardware I happened to be running.

# Harsh and Cruel Present

Now I'm trying to provide `nixGL` in a flake, roughly like this

[code]
and I get the errors shown in the comments.

How should I go about pro

[2022-02-15 12:40] SuperSandro2000 commented on #90
It should be ``pkgs.nixgl.auto.nixGLDefault``.

[2022-02-15 19:45] j0xaf commented on #90
Same issue here.

[2022-02-15 20:57] SuperSandro2000 commented on #90
Did you pass ``--impure``?

[2022-02-17 15:28] jacg commented on #90
I was using the `devShell` via direnv and `use flake`.

+ `nix develop` fails with the same error.
+ `nix develop --impure` succeeds.

Is there a way to get it to work with `direnv`?

[2022-02-17 16:56] SuperSandro2000 commented on #90
You would need to tell devShell to be impure. Not sure how to do that.

[2022-02-18 14:37] j0xaf commented on #90
So I ended up simply using nixGLIntel directly to stay pure.

[2022-02-21 00:37] samuela commented on #50
This would be huge for me! What is necessary to make it happen?

[2022-02-21 02:33] samuela commented on #50
On second thought, I'm a little confused why this is necessary... Shouldn't .so files in packages like cuDNN have cudatoolkit in their RPATHs?

I mean I can confirm that it doesn't work, so something needs to be fixed, but why doesn't the RPATH lookup work?

[2022-02-22 09:25] leiserfg opened #91 "GL and Vulkan at the same time"
Is there a way of exposing both APIs at the same time?
There are apps that are able to change from one backend to the other (games manly but also some other 3d dev apps). Also, I'm thinking of wrapping my app launcher (or maybe even my Xsession so all the apps get GL and Vulkan if they need it but as far as I understand, with the current approach one has to pick one or the other.

[2022-02-25 19:36] jian-lin opened #92 "`name` of `nvidiaDrivers` and `nvidiaLibsOnly` is wrong"
`linuxPackages.nvidia_x11` doesn't use `pname`, instead it [sets](https://github.com/NixOS/nixpkgs/blob/58526c2229a3866dc57b2006a848b61f3584cef3/pkgs/os-specific/linux/nvidia-x11/generic.nix#L50) `name = "nvidia-x11-${version}${nameSuffix}";`.

However, we only [set](https://github.com/guibou/nixGL/blob/17658df1e17a64bc23ee5c93cfa9e8b663a4ac81/nixGL.nix#L47-L48) `pname` and `version` in our `overr

[2022-03-06 13:38] Nidrop commented on #91
Same question. Chromium can use both. Chromium from flatpak works ok, but chromium from Nix fails to run Vulkan.
Enable `chrome://flags/#enable-vulkan`, optionally `chrome://flags/#ignore-gpu-blacklist`, restart and check `chrome://gpu/`. If it crashes, edit `~/.config/chromium/Local State`, change `enable-vulkan@1` to `enable-vulkan@2` to disable Vulkan.

[2022-03-13 17:05] leiserfg opened #93 "Nvidia icd file has now a disctinct name"
Running `nix-env -iA nixgl.auto.nixVulkanNvidia`
returns
[code]
The new name is `nvidia_icd.x86_64.json `

[2022-03-15 01:01] samuela commented on #50
This is fixed in https://github.com/NixOS/nixpkgs/pull/158218.

[2022-03-15 08:14] techflashYT opened #94 "nixpkgs was not found"
When I try to do anything with it, when I get to the part where you need to run `nix-env`, it gives this:
[code]
I tried a lot of different things, and it just doesn't seem to work.  Any ideas?

[2022-03-15 18:45] SuperSandro2000 commented on #94
You either need to input pkgs or have a channel named nixpkgs.

[2022-03-29 13:36] Anton-4 opened #95 "using `nixVulkanIntel` with flake `devShell`"
Hi, I'm still quite new to nix and I'm having trouble figuring out how to set up my flake to make the `nixVulkanIntel` command accessible through `devShell`. So I want to able to execute `nix develop` followed by `nixVulkanIntel myprogram`.

Any help is appreciated :)

[2022-04-09 18:34] Player-205 opened #96 "`nixVulkanNvidia` failling when building with `No such file or directory` error"
[code]

[2022-05-06 02:26] samuela opened #98 "Warning/error when using nixGLNvidia version that differs from the installed driver version"
If you install nixGLNvidia and then upgrade your kernel driver version, you will be left with commands like `nixGLNvidia-510.47.03` even when you have driver version 510.60.02. In this case programs fail when attempting `cuInit`.

It would be nice if nixGL threw an error or at least a warning when attempting to run against a different driver version.

[2022-05-09 08:26] MOIS3Y commented on #94
Hello!
I had the same problem
Void Linux x86_64 5.15.36_1.

[code]
I added and updated the channel according to the instructions:
`nix-channel --add https://github.com/guibou/nixGL/archive/main.tar.gz nixgl && nix-channel --update`
But I was getting an error

[code]
The solution to the problem was to check the variable:
`echo $NIX_PATH`
If it's empty. Just export it
export NIX_PATH=$HOME/.nix-defe

[2022-05-09 17:24] Anton-4 commented on #95
Looks like I could just do `nix run --override-input nixpkgs nixpkgs/nixos-21.11 --impure github:guibou/nixGL#nixVulkanIntel -- MyProgram`.

[2022-05-09 17:24] #95 closed

[2022-05-12 12:48] scvalex commented on #90
You can tell direnv to use the flake impurely.  Just put this in your `.envrc`: `use flake --impure`.

[2022-05-12 14:31] scvalex commented on #90
Although, once you do have an impure flake in your direnv, I don't know how to get it to re-evaluate when `flake.nix` is changed.  Using `nixGLIntel` definitely works without the impure.

[2022-05-14 16:56] pbsds opened #99 "Error: file 'REPEAT' was not found in the Nix search path"
[code]
This happens when trying to install both nvidia bumblebee, non-bumblebee and intel.

**Some debug info:**

[code]

[2022-05-14 19:07] dali99 commented on #99
This is likely this quite amusing bug https://github.com/NixOS/nix/issues/6524

[2022-05-28 00:06] #99 closed

[2022-06-08 01:25] Fuuzetsu commented on #67
My coworker hit something similar today: he upgraded to 510.73.08 which his distro packager presumably got from https://developer.download.nvidia.com/compute/cuda/repos/rhel7/x86_64/ but that version is missing from https://download.nvidia.com/XFree86/Linux-x86_64/

I'm not sure what the best way to solve this one is: maybe we can unpack the RPM in such cases? Unsure how the distribution differs..

[2022-06-09 11:06] guibou commented on #90
Thank you for the ticket and for the discussion.

Could we consider this as closed?

Perhaps we can improve the documentation to state that we need to use `--impure` for Nvidia drivers?

[2022-06-09 11:14] jacg commented on #90
Sorry, it's been a while since I've thought about this, and I don't have time right now to go over it and refresh my memory and check details. With that said, a quick read suggests that it seems reasonable to consider this closed.

[2022-06-09 11:51] #92 closed

[2022-06-09 11:51] #96 closed

[2022-06-09 11:52] guibou commented on #96
Thank you for the report. This should be fixed now, could you test and tell me if it is ok for you?

[2022-06-09 11:53] guibou commented on #92
Hello,

Thank you for opening this ticket.

I just override the `name` to `"nvidia-x11-${version}"` and I'm happy with that.

Please reopen if you would like another solution.

[2022-06-09 11:54] guibou commented on #93
I added a test which build with `nvidia-x11-510` and it looks like it generate a wrapper script which points to the correct `icd` files. Could you test again and tell me if the bug is still there?

Thank you for opening the ticket by the way ;)

[2022-06-09 11:54] Player-205 commented on #96
Sorry, but I switched from ubuntu to nixos over this time and now all GPU drivers work natively.

[2022-06-10 10:38] wULLSnpAXbWZGYDYyhWTKKspEQoaYxXyhoisqHf commented on #90
hey there, relatively new user here, thank you for the awesome project!
it did (and continues to) save my bacon with flaky gui frameworks that I happen to be using.

I have been following this thread for a little while as I had a similar issue/requirement - I wanted to provide the `nixGL` (not `nixGLIntel` or any of the specific ones) command in my flake for easier collaboration (and since there i

[2022-06-13 06:12] blurgyy commented on #96
Hi, I think the issue is still present, I get the following error:

[code]

The directory which `ls` complains about has a file called `nvidia_icd.x86_64.json` instead of `nvidia_icd.json`:

[code]

[2022-06-17 13:24] seandheath opened #104 "error when building nixVulkanNvidia for driver version 390.151"
I'm trying to get vulkan working on an older laptop and I get this error when trying to build nixVulkanNvidia:

[code]

Can I do an overlay and put the nvidia_icd.json in the right place?

[2022-06-28 10:18] seandheath commented on #93
@leiserfg would you mind providing an example of how to use the nvidiaVars you defined in a config.nix setup?

[2022-06-28 11:27] leiserfg commented on #93
What I'm doing is just expose them in `home.sessionVariables` so every program runs with them set, it's impure I know but it's the less problematic way I've found.

[2022-06-29 09:30] ghost opened #106 "hello"
thanks for this am now using riverwm in debian , thank u so much.

[2022-06-29 09:30] #106 closed, assigned to nobody

[2022-07-12 22:15] hab25 commented on #44
I was also interested in having working .desktop files. The following simple wrapper, adapted from [here](https://nixos.wiki/wiki/Nix_Cookbook#Wrapping_packages:~:text=If%20you%20prefer%20not%20to%20have%20every%20file%20symlinked%20and%20have%20a%20cleaner%20result%2C%20the%20following%20is%20also%20possible%3A), meets my requirements. It that just wraps the binaries themselves, and no change to

[2022-07-13 09:23] ShrykeWindgrace opened #107 "Installation fails with missing dlls"
Hi!

Thanks for this wrapper, it makes my nix life easier!

I pull latest nixGL via nix-channels
[code]
and handle installation it in my home-manager config as
[code]

Today after a channel update and a switch of generation I get
[code]

What can I do to debug this issue? I run a debian with nix-as-package-manager.

[2022-07-13 16:43] portothree commented on #107
I'm experiencing the same after updating my `flake.lock`

[2022-08-09 12:32] itaysharir opened #109 "NixGL on arm64"
I have an M1 mac and i run fedora with nix installed on a VM. i want to install a WM but i requires me to install NixGL. Is there an arm64 version of NixGL?
![Screen Shot 2022-08-09 at 15 34 07](https://user-images.githubusercontent.com/87126382/183648054-c23b0e36-8646-4a34-9baf-5a73e1b43137.jpg)

[2022-08-15 08:33] guibou commented on #109
Hello,

Thank you for opening this issue.

I don't see any reason why nixGL wouldn't work on `arm64` as long as the OpenGL stack works on it. Except that the `flake.nix` file had never been written with this in mind.

I'll give it a shot right now.

[2022-08-15 08:57] guibou commented on #109
Would you mind testing the branch `inclusive_nix_flake` please? You may try that using:

[code]

[2022-08-15 10:42] #109 closed

[2022-08-15 15:45] stopbystudent opened #111 "Broken overlay definition"
#110 broke the use of the nix flake in overlays. That is, it defines overlays in dependence of the `system` which it should not be. Consequently, trying to use the nixGL overlay yields the following error:

[code]

The solution would be to move [`overlay` out of the `eachDefaultSystem` call](https://discourse.nixos.org/t/using-a-nix-flake-in-a-flake-e-g-buildinputs/17923/6). This will require a bi

[2022-08-16 10:31] guibou commented on #111
Rha, damned. Thank yoau for reporting that!

I'll have a look ;)

[2022-08-21 17:59] carlthome commented on #111
Complete nix novice here but calling `nixpkgs.lib.attrValues` on nixgl.overlay seems to at least _run_.

E.g. like this:
https://github.com/tweag/jupyterWith#using-flakes

[2022-08-22 09:30] cmm commented on #111
What I understand the `forEachSupportedSystem` thing to do is, it turns every output specification into a set with per-system attributes -- so whatever was formerly in `nixgl.overlay` is now in `nixgl.overlay.x86_64-linux` (or whatever your actual system is).

Which is why adding all those attributes to `nixpkgs.overlays` works too.

But yes, it seems the customary thing to do is to have just one

[2022-08-24 17:13] guibou commented on #111
Could you check that https://github.com/guibou/nixGL/pull/113 fixs the problem for you?

It should be as simple as changing the reference in you flakes from `github:guibou/nixGL` to `github:guibou/nixGL/fix_overlays`.

[2022-08-24 18:01] galenhuntington commented on #111
This change is working for me. :+1:

I'm new to Nix, but this "if condition then true else false" looks redundant to me.  That is, couldn't it be simply `isIntelX86Platform = final.system == "x86_64-linux";`?

[2022-08-24 18:53] guibou commented on #111
Haha, yes, absolutely ;)

[2022-08-24 18:56] #111 closed

[2022-08-24 18:56] guibou commented on #111
Merged and hence the issue is closed.

Thank you for reporting and for your suggestions. Please reopen if that's not perfectly fixed for you.

[2022-08-31 14:27] thanhnguyen2187 opened #114 "Making nixGL works with Home Manager"
Hi.

Thanks for the awesome work!

I am using Home Manager within Pop OS 22.04 and have got stuck trying to make nixGL works. My configuration basically looks like this:

[code]

Try running `home-manager switch` gives me this:

[code]

While `nix-env -iA nixgl.auto.nixGLDefault`, and then `nixGL alacritty` works as expected.

I found a few issues on nixGL is not a proper package of nixpkgs, and g

[2022-08-31 15:22] SuperSandro2000 commented on #114
flakes is what you are searching for.

I don't think you can do this. I would try to add this to home.package instead and hope it gets in $PATH before alacrity. If that does not work I would try to make the wrapper you created a full package, without writeShellScript*.

[2022-09-01 05:51] thanhnguyen2187 commented on #114
Thanks a lot for the comment @SuperSandro2000. Forgot to mention that I did add `nixGL.auto.nixGLNvidia` to my `home.packages`, but the error was the same. Do you have any other idea?

[2022-09-09 10:35] Gerschtli commented on #114
For some inspiration, I wrapped my google-chrome with nixGL like this: https://github.com/Gerschtli/nix-config/commit/ab51b30fae25b72482c97f7b6d94bbef82e38f40

Maybe there could be a library function exported by this flake to get the needed lines directly without reading the package. @guibou What do you think? If we can agree on an API, I could create a PR :)

[2022-09-09 11:14] dali99 commented on #114
https://github.com/dali99/nix-dotfiles/blob/9639108c536fd7f1ab4d5606d5f5ee1b51bd0a4c/profiles/xsession/default.nix#L121 I have this  for my non-nixos machines.

This successfully starts my window manager and lets me run gui programs without wrapping those induvidually

[2022-09-18 18:43] TheSunCat opened #115 "VA-API broken on AMD"
Hi! I'm using `nixGL` and it works great. Thanks for maintaining this tool.
I noticed Firefox outputs an error about libva on my AMD laptop when launched with nixGL, and found that it exports `LIBVA_DRIVERS_PATH` to paths that only contains Intel drivers (`i965_drv_video.so`, `i965_drv_video.la`, and `iHD_drv_video.so`). When exporting `LIBVA_DRIVERS_PATH=/lib/dri/`, the error goes away.
[code]

[2022-10-03 07:03] imsofi opened #116 "Running kitty with nixGL causes all software ran under it to gain nixGL status."
When running kitty such as `nix run github:guibou/nixGL#nixGLIntel -- kitty`, it causes all programs run inside it to also get the nixGL treatment. This causes issues with system tooling such as `vainfo`.

Are there any ways to avoid recursive nixGL for everything ran inside of kitty?

<details>
<summary>Output of distro's `vainfo` when ran under `nixGLIntel kitty`</summary>

[code]
</details>

[2022-10-03 07:25] imsofi commented on #115
Also for Fedora, you may need to add `/lib64/dri` as well.

Relevant: #27 #116

[2022-10-03 07:27] imsofi commented on #116
Currently i am running this in my `.bashrc` to fix it. I do not know if there is any problems with this approach:

[code]

[2022-10-03 07:31] imsofi commented on #115
For clarity, are you running your distro's Firefox, or attempting to run the nixpkgs's Firefox trough nixgl?

[2022-10-03 13:54] TheSunCat commented on #115
I'm running my distro's native Firefox package (Arch), and it also happens with the native `vainfo` package.

[2022-10-03 19:24] guibou commented on #116
That's a good question.

Your approach is good, but it can lead to error if these values are set by the outside world to something else. For example, you will miss everything `LD_LIBRARY_PATH`.

The perfect solution would be to restore the value to what they were before starting `nixGL`.

It could be possible to also export a `NIXGL_BACKUP_LD_LIBRARY_PATH` (for example) which you may use to restor

[2022-10-05 04:44] hab25 commented on #115
I think nixGL was made only for packages built by nix; I'm curious as to how it is helping you with an Arch package.

[2022-10-05 05:45] hab25 commented on #116
I am having exactly the same three errors in the issue description (`... __vaDriverInit_1_0`, `... __vaDriverInit_1_0`,  `... ELFCLASS32`) happen , when I run `google-chrome-stable` (non-nix) from my `nixGLIntel`ed `alacritty` (from nixpkgs) terminal.

---

I also have this concern.

---

Is there always a way to restore or unset? I think even there are (at least) two scenarios where there isn't:

[2022-10-05 06:47] TheSunCat commented on #115
I'm running my Wayland compositor (Hyprland) which is installed through nix as the official package lacks support for hidpi XWayland apps, which the nix package has support for. Therefore I'm running Hyprland through nixGL, which ends up causing every program that is run from from Hyprland to inherit the nixGL setup (and therefore break vaapi, etc).

[2022-10-05 07:35] imsofi commented on #116
Well NixGL does not do a lot. It primarily just sets some variables that i unset above. https://github.com/guibou/nixGL/blob/d4fb83ca17c88444a956f8164cc3fd6cfa8291fe/nixGL.nix#L146-L155

One idea could be that software could run by default without the `export` part? So it executes with `LIBGL_DRIVERS_PATH="..." LIBVA_DRIVERS_PATH="..." __EGL_VENDOR_LIBRARY_FILENAMES="..." LD_LIBRARY_PATH="..." ${p

[2022-10-05 07:48] imsofi commented on #116
I just tested the `LIBGL_DRIVERS_PATH="..." LIBVA_DRIVERS_PATH="..." __EGL_VENDOR_LIBRARY_FILENAMES="..." LD_LIBRARY_PATH="..." ${program}` idea. It does not help and kitty still keeps the variables. :/

[2022-10-12 10:27] brothermechanic opened #117 "problem with install trough flakes"
Hello.
Thank you for repository!
Help me to install it trough flakes
This is an error
[code]

[2022-10-12 22:49] guibou commented on #117
could you try with `nix build --impure github:guibou/nixGL#nixGLNvidia` ?

[2022-10-13 02:41] ryanswrt commented on #117
Here's the line I use `NIXPKGS_ALLOW_UNFREE=1 nix profile install github:guibou/nixGL --impure` ; for some reason nix profile doesn't read my local nix conf to allow unfree flakes to be installed

[2022-10-13 06:40] brothermechanic commented on #117
that's builds fine
[code]

[2022-10-13 06:43] brothermechanic commented on #117
Works!
[code]
Thank you!

[2022-10-13 07:01] brothermechanic commented on #117
For final understanding...

--impure
Allow access to mutable paths and repositories.

https://github.com/guibou/nixGL - is mutable repo?

[2022-10-13 12:40] cathaysia opened #118 "unable to download 'https://download.nvidia.com/XFree86/Linux-x86_64/520.61.05/NVIDIA-Linux-x86_64-520.61.05.run': HTTP error 404"
It should be https://download.nvidia.com/XFree86/Linux-x86_64/520.56.06/NVIDIA-Linux-x86_64-520.56.06.run?

[2022-10-13 15:13] guibou commented on #117
@brothermechanic yes, the `nixGLNvidia` package does some impure stuffs in order to auto detect nvidia version.

[2022-10-13 15:13] guibou commented on #117
I'm closing.

However, we should keep in mind that defining a solution to fix all theses impurity could be awesome.

[2022-10-13 15:13] #117 closed

[2022-10-15 04:00] #118 closed

[2022-10-22 01:05] cathaysia opened #119 "Note: Another NVIDIA graphics card driver address"
My operating system is RHEL9 and my graphics card is RTX3060. The driver versions available can be found in this list:https://developer.download.nvidia.com/compute/cuda/repos/rhel9/x86_64/precompiled/ .But the drivers in the list and the list in http://download.nvidia.com/XFree86/Linux-x86_64/ are not one-to-one.

NVIDIA has two driver source download graphics driver:
- TRD location: http://us.dow

[2022-11-04 00:34] KiruyaMomochi commented on #119
Related: #118

It's trivial to fix when `nvidiaHash` is supplied, as `pkgs.fetchUrl` accepts [`urls`](https://github.com/NixOS/nixpkgs/blob/master/pkgs/build-support/fetchurl/default.nix#L46), which is a list of url. These urls will be tried in order. `pkgs.fetchUrl` requires a hash to make the result derivation be [fixed-output](https://nixos.org/manual/nix/stable/language/advanced-attributes.htm

[2022-11-14 19:07] KiruyaMomochi commented on #119
I'm trying to use https://github.com/flathub/org.freedesktop.Platform.GL.nvidia/ as a source of driver address: https://github.com/guibou/nixGL/commit/8020c45fa47b4b724869e7a53902ab6b5ea33bc8

[2022-11-21 17:33] NinjaTrappeur opened #120 "Nvidia Tesla support"
The Nvidia tesla line is not supported by the `XFree86` proprietary dirver, it has a specific "data center" one: https://www.nvidia.fr/Download/driverResults.aspx/193507/en-us

If we want to support that card lineage, we'll probably want to find some heuristics to detect them in the auto detection script.

I don't have a good solution to propose for this issue, but I quickly hacked my way out of t

[2022-11-24 17:33] KiruyaMomochi commented on #120
Is this #119?

[2022-11-25 11:06] NinjaTrappeur commented on #120
Ah, indeed, it is! Let's copy this message there.

[2022-11-25 11:07] NinjaTrappeur commented on #119
Message originally posted as https://github.com/guibou/nixGL/issues/120

--------------------------------------------

The Nvidia tesla line is not supported by the `XFree86` proprietary dirver, it has a specific "data center" one: https://www.nvidia.fr/Download/driverResults.aspx/193507/en-us

If we want to support that card lineage, we'll probably want to find some heuristics to detect them in t

[2022-11-25 11:07] NinjaTrappeur commented on #120
Duplicate of #119

[2022-11-25 11:07] #120 closed